asgiref
atomicwrites
attrs
certifi
chardet
charset-normalizer
colorama
Django>=5.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
idna
iniconfig
packaging
Pillow
pluggy
py
PyJWT
pyparsing
pytest
pytz
requests
sqlparse
stripe
toml
urllib3
